@model ASP1hw.DTO.ProductDTO
<h2>Видалити продукт</h2>
<form asp-action="Delete" method="post">
    <label>ID продукту:</label>
    <input name="id" />
    <button type="submit">Видалити</button>
</form>
<a asp-action="Search">Перейти до пошуку</a>